<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.autentia.prueba17.mybatis.mappers.ClimaticDataMapper">

	<!-- sentencia insert: recibe un dato validado y lo inserta en la tabla 
		datos -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.autentia.prueba17.model.ClimaticData">

		insert into climaticdata (validated, cityname, temperature,
		humidity, precipitation,
		date, daytypename) values
		(#{validated},#{cityName},
		#{temperature},#{humidity},#{precipitation},#{date},#{dayTypeName})

	</insert>

	<!-- sentencia select: selecciona un dato por su id -->
	<select id="get" resultType="com.autentia.prueba17.model.ClimaticData">

		select * from climaticdata where id
		= #{id}

	</select>

	<!-- sentencia select: selecciona todos los datos de la tabla -->
	<select id="getAll" resultType="com.autentia.prueba17.model.ClimaticData">

		select * from climaticdata

	</select>

	<!-- sentencia select: selecciona todos los datos validados de la tabla -->
	<select id="getAllValidated" resultType="com.autentia.prueba17.model.ClimaticData">

		select * from climaticdata
		where validated=true

	</select>

</mapper>
  