<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapeado y consultas de la tabla dias -->
<!-- Tabla: -->
<!-- id(PK) | tipodia -->
<mapper namespace="com.autentia.prueba17.mybatis.mappers.DayTypeMapper">

	<!-- sentencia select: selecciona un dia por su id -->
	<select id="get" resultType="com.autentia.prueba17.model.DayType">
		select * from daytypes where id
		= #{id}
	</select>
	
	<!-- sentencia select: selecciona todos los dias de la tabla -->
	<select id="getAll" resultType="com.autentia.prueba17.model.DayType">
		select * from daytypes
	</select>
	
	<!-- sentencia select: selecciona los nombres de los tipos de dia -->
	<select id="getAllDayTypesNames" resultType="string">
		select daytypename from daytypes
	</select>

</mapper>
  