<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapeado y consultas de la tabla dias -->
<!-- Tabla: -->
<!-- id(PK) | nombre -->
<mapper namespace="com.autentia.prueba17.mybatis.mappers.LocalidadMapper">

	<!-- sentencia select: selecciona una localidad por su id -->
	<select id="selectLocalidad" resultType="com.autentia.prueba17.pojos.Localidad">
		select * from
		localidades where id
		= #{id}
	</select>

	<!-- sentencia select: selecciona todas las localidades de la tabla -->
	<select id="selectAll" resultType="com.autentia.prueba17.pojos.Localidad">
		select * from localidades
	</select>

	<!-- sentencia select: selecciona los nombres de las localidades -->
	<select id="selectAllNombres" resultType="string">
		select nombre from
		localidades
	</select>

</mapper>
  